.index-list{
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 500px;
  margin:30px auto;
  justify-content: flex-end;
}
.index-column{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.index-shelf{
  display: flex;
  flex-direction: row;
  height: 50%;
}
.index-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  margin: 10px;
  text-align: left;
  box-shadow: 0 2px 13px 0 rgb(0 0 0 / 7%), 0 -1px 5px 0 rgb(0 0 0 / 7%);
  h2{
    font-family: $font-second;
    margin: 0px 0px 50px 0px;
    padding-bottom: 10px;
    padding-left: 18px;
    font-size: 28px;
    display: inline-block;
    font-weight: 700;
  }
  h5{
    font-family: $font-second;
    font-weight: 400;
    display: inline-block;
    background-color: #2196f3;
    font-size: 18px;
    padding: 7px 18px;
    width: fit-content;
    margin: 50px 0px 0px 0px;
  }
  a{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    color: black;
  }
  &--tickets{
    width: 50%;
    background-image: url(Pictures/ticket.JPG);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    h2{
      font-size: 30px;
    }
  }
  &--itinerary{
    height: 50%;
    background-image: url(Pictures/world_map.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    h2{
      font-size: 25px;
    }
  }
  &--account{
    width: 50%;
    background-image: url(Pictures/money_ticket.jpg);
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    h2{
      color: white;
      font-size: 25px;
    }
    h5{
    margin-top: 20px;
    width: fit-content;
    }
  }
  &--sponsors{
    width: 50%;
    background-image: url(Pictures/sponsors.jpg);
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    h2{
      color: white;
      font-size: 25px;
    }
    h5{
      margin-top: 20px;
      width: fit-content;
      }
  }
}