.index-list{
  display: flex;
  flex-direction: row;
  width: 93%;
  margin:30px auto 40px auto;
  justify-content: space-evenly;
  @media(max-width:1100px){
    margin: 77px auto 84px auto;
  }
  @media (max-width:950px){
    margin-top: 20px;
  }
  @media (max-width:950px){
    flex-wrap: wrap;
  }
  @media(max-width:620px){
    flex-direction: column;
    align-content: center;
  }
}

.index-card{
  max-width: 310px;
  aspect-ratio: 1/0.7;
  display: flex;
  border-radius: 4px;
  margin: 20px;
  text-align: left;
  box-shadow: 0 2px 13px 0 rgb(0 0 0 / 7%), 0 -1px 5px 0 rgb(0 0 0 / 7%);
  @media(min-width:1600px){
    aspect-ratio: 1/0.7;
  }
  @media (max-width:950px){
    margin: 10px;
    aspect-ratio: 1/0.5;
  }
  @media(max-width:650px){
    aspect-ratio: 1/0.4;
  }

  h2{
    font-family: $font-second;
    padding-left: 9px;
    margin-bottom: 30px;
    font-size: 25px;
    display: inline-block;
    font-weight: 700;
    @media (max-width:1150px){
      font-size: 22px;
    }
    @media (max-width:1000px){
      font-size: 19px;
      margin: 10px;
      margin-bottom: 15px;
    }
    @media (max-width:780px){
      font-size: 14px;
      margin: 7px;
      margin-bottom: 15px;
    }
  }
  h5{
    font-family: $font-second;
    font-weight: 400;
    display: inline-block;
    background-color: $spectre-tifany;
    font-size: 17px;
    padding: 7px 18px;
    width: fit-content;
    margin: 30px 0px 30px 0px;
    @media (max-width:1150px){
      font-size: 13px;
      margin-bottom: 15px;
    }
    @media (max-width:950px){
      font-size: 13px;
      margin: 30px 0px;
      padding: 5px 13px;
    }
    @media (max-width:700px){
      font-size: 11px;
      margin: 30px 0px 20px 0px;
      padding: 5px 13px;
    }
    @media(max-width: 550px){
      margin-top: 20px;
    }
  }
  a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    width: 100%;
  }
  &--tickets{
    width: 25%;
    background-image: url(Pictures/boxes_tickets_CH.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    @media (min-width:2000px){
      width: 70%;
    }
    @media (min-width:1500px){
      width: 50%;
    }
    @media (max-width:950px){
      width: 40%;
    }
    @media(max-width:650px){
    width:60%;
    }
    @media(max-width: 550px){
      width: 80%;
    }
  }
  &--itinerary{
    width: 25%;
    background-image: url(Pictures/world_map.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: white;
    @media (min-width:2000px){
      width: 70%;
    }
    @media (min-width:1500px){
      width: 50%;
    }
    @media (max-width:950px){
      width: 40%;
    }
    @media(max-width:650px){
    width:60%;
    }
    @media(max-width: 550px){
      width: 80%;
    }
  }
  &--account{
    width: 25%;
    background-image: url(Pictures/money_ticket.jpg);
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: cover; 
    h5{
    width: fit-content;
    }
    @media (min-width:2000px){
      width: 70%;
    }
    @media (min-width:1500px){
      width: 50%;
    }
    @media (max-width:950px){
      width: 40%;
    }
    @media(max-width:650px){
    width:60%;
    }
    @media(max-width: 550px){
      width: 80%;
    }
  }
  &--sponsors{
    width: 25%;
    background-image: url(Pictures/sponsors.jpg);
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: cover; 
    h2{
      color: black;
    }
    h5{
      width: fit-content;
    }
    @media (min-width:2000px){
      width: 70%;
    }
    @media (min-width:1500px){
      width: 50%;
    }
    @media (max-width:950px){
      width: 40%;
    }
    @media(max-width:650px){
    width:60%;
    }
    @media(max-width: 550px){
      width: 80%;
    }
  }
}
.index_banner{
  width: 100%;
  @media(max-width: 700px){
    height: 187px;
    object-fit: cover;
  }
  @media(max-width: 550px){
    height: 140px;
    object-fit: cover;
  }
}