body{
  position: relative;
}
.map{
  position: relative;
  img{
  margin-top: 25px;
  max-width: 60%;
  padding-bottom: 30px;
  @media(max-width:900px){
    padding-bottom: 15px;
  }
  @media(max-width:700px){
    padding-bottom: 0px;
  }
  }
}
.plane{
  position: absolute;
  width: 30px;
  height: auto;
  @media(max-width:900px){
    width:20px;
  }
  @media(max-width:700px){
    width:15px;
  }
  transform: rotate(342deg);
	animation: tocit infinite linear 2.5s;
    @keyframes tocit {
      0%{
		    transform: rotate(0deg);
	    }
      100%{
        transform: rotate(1turn);
      }
    }
}

// .map-icons{
//     position: absolute;
//     font-size: 30px;
//     animation: blikat 1.5s infinite;
//     @keyframes blikat {
//       0% {
//         opacity: 1;
//       }
//       70%{
//         opacity: 1;
//       }
//       100% {
//         opacity: 0;
//       }
//     }
// }

#sa{
  bottom: 36%;
  left: 37.5%;
}
#eu{
  top: 5%;
  right: 45.5%;
}
#austr{
  bottom: 30%;
  right: 28.5%;
}
#afr{
  bottom: 43%;
  right: 47.5%;
}  
#as{
  top: 12%;
  right: 33%;
}
#na{
  top: 5%;
  left: 29%;
}
#ant{
  bottom: 9%;
  right: 40%;
}

.list-cards{
  // display: flex;
  // flex-wrap: wrap;
  // padding: 0px 20px;
  justify-content: center;
  max-width: 865px;
  width: 80%;
  max-height: 340px;
  height: fit-content;
  margin-top: 80px;
}
.card{
  display: flex;
  flex-direction: column;
  width:240px;
  border-radius: 4px;
  background: #fff;
  height: fit-content;
  // overflow: hidden;
  // margin: 10px;
  img{
    object-fit: fill;
    width: 100%;
  }
  h2{
    text-align: start;
    font-family: $font-main;
    font-weight: 400;
    margin: 0px;
    @media(max-width:930px){
      font-size: 17px;
    }
    @media(max-width:800px){
      font-size: 15px;
    }
    @media(max-width:640px){
      font-size: 12px;
    }
    @media(max-width:550px){
      font-size: 11px;
    } 
    @media(max-width:450px){
      font-size: 10px;
    }
  }
  p{
    text-align: left;
    font-family: $font-second;
    @media(max-width:930px){
      font-size: 16px;
    }
    @media(max-width:800px){
      font-size: 14px;
    }
    @media(max-width:640px){
      font-size: 11px;
    }
    @media(max-width:550px){
      font-size: 10px;
    } 
    @media(max-width:450px){
      font-size: 9px;
    }
  }
  a{
    color: black;
  }
  
}
.icon{
  font-size: 38px;
  margin: 0px;;
}

.card-text{
  padding: 20px 20px 10px 20px;
  
}
.card-details{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  flex-wrap: wrap;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,6px);
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
}
.swiper{
  padding-bottom: 19px;
}

.eventInformation{
  width: 790px;
  margin: 50px auto;
  font-size: 16px;
  ol{
    padding-inline-start: 0px;
  }
  @media(max-width:930px){
    font-size: 15px;
    width: 717px;
  }
  @media(max-width:800px){
    width: 564px;
    font-size: 13px;
  }
  @media(max-width:640px){
    width: 444px;
    font-size: 11px;
  }
  @media(max-width:550px){
    width: 380px;
    font-size: 10px;
  } 
  @media(max-width:450px){
    width: 330px;
    font-size: 9px;
  }
}

.event{
  display: grid;
  position: relative;
  text-align: left;
  grid-template-columns: 170px 176px 207px 218px  18px;
  border-bottom: 1px solid rgb(185, 185, 185);
  align-items:center;
  @media(max-width:930px){
    grid-template-columns:131px 176px 174px 218px 18px;
  }
  @media(max-width:800px){
    grid-template-columns: 94px 152px 132px 166px 18px;
  }
  @media(max-width:640px){
    grid-template-columns: 94px 116px 97px 121px 18px;
  }
  @media(max-width:550px){
    grid-template-columns: 70px 105px 85px 105px 14px;
  } 
  @media(max-width:450px){
    grid-template-columns: 56px 78px 67px 114px 15px;
  }
  p{
    margin: 5px 0px;
  }
  img{
    width: 15px;
    height:15px;
    align-items:center;
    @media(max-width:800px){
      width:13px;
      height: 13px;
    } 
    @media(max-width:550px){
      width:10px;
      height: 10px;
    } 
  }
}

.noPubcrawlInfo,
.noDaytripInfo,
.noBoatparty,
.noSportsday,
.noPaddles,
.noInterfaculty,
.noFooddrinks,
.noOrientation,
.noBeanies{
  display: none;
}

.seePubcrawlInfo,
.seeDaytripInfo,
.seeBoatparty,
.seeSportsday,
.seePaddles,
.seeInterfaculty,
.seeFooddrinks,
.seeOrientation,
.seeBeanies{
  display: block;
}

#pubcrawl-hidden,
#daytrip-hidden,
#boatparty-hidden,
#sportsday-hidden,
#paddles-hidden,
#interfaculty-hidden,
#fooddrinks-hidden,
#orientation-hidden,
#beanies-hidden{
  position: relative;
  background-color: rgba(255, 255, 255, 0.738);
  padding: 5px;
  font-size: 15px;
  padding-bottom: 10px;
  @media(max-width:930px){
    font-size: 14px;
  }
  @media(max-width:800px){
    font-size: 12px;
  }
  @media(max-width:640px){
  font-size: 10px;
  }
  @media(max-width:550px){
  font-size:  9px;
  } 
  @media(max-width:450px){
font-size: 8px;
  }
  &::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 791px;
    left: 0px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg) bottom;
    background-size: 84%;
    @media(max-width:1100px){
      width: 888px;
    }
    @media(max-width:980px){
      width: 696px;
    }
  }
}

.flight-itinerary{
  display: grid;
  grid-template-columns: 140px 82px 274px 174px 62px 135px 173px;
  justify-content: center;
  margin: 0px 20px 0px 20px;
  align-items: center;
  grid-template-rows: 40px;
  @media(max-width:1100px){
    grid-template-columns: 85px 82px 228px 139px 62px 135px 118px;
  }
  @media(max-width:890px){
    grid-template-columns: 71px 82px 179px 88px 62px 135px 87px;
  }
  @media(max-width:730px){
    grid-template-columns: 51px 56px 160px 91px 41px 107px 87px;
  }
  @media(max-width:630px){
    grid-template-columns: 51px 56px 126px 66px 41px 93px 87px;
  }
  @media(max-width:545px){
    grid-template-columns: 29px 56px 117px 66px 41px 93px 63px;
  }
  @media(max-width:485px){
    grid-template-columns: 29px 47px 104px 56px 30px 83px 51px;
  }
  h2,
  h3{
  font-size: 18px;
  font-family: $font-main;
  font-weight: 400;
  @media(max-width:1100px){
    font-size: 16px;
  }
  @media(max-width:890px){
    font-size: 15px;
  }
  @media(max-width:730px){
    font-size: 13px;
  }
  @media(max-width:630px){
    font-size: 12px;
  }
  @media(max-width:490px){
    font-size: 11px;
  }
  }
  img{
    width: 84%;
    @media(max-width:1100px){
        width:80px;
        margin: 0px auto;
        display: inline;
    }
    @media(max-width:730px){
      width:50px;
      margin: 0px auto;
      display: inline;
  }
    @media(max-width:630px){
      width:35px;
      margin: 0px auto;
      display: inline;
  }
  @media(max-width:442px){
    
}
  }
  h3{
    color: rgb(68, 216, 68);
  }
}

.flightDescription-itinerary{
  display: grid;
  grid-template-columns: 94px 276px 162px 62px 135px 180px;
  grid-template-rows: 40px;
  justify-content: center;
  padding-left: 150px;
  margin: 0px;
  margin-top: 20px;
  align-items: center;
  @media(max-width:1100px){
    grid-template-columns: 78px 248px 150px 41px 132px 139px;
    padding-left: 74px;
  }
  @media(max-width:1110px){
      grid-template-columns: 78px 248px 150px 41px 132px 139px;
      padding-left: 74px;
  }
  @media(max-width:890px){
    grid-template-columns: 127px 160px 85px 71px 84px 155px 0px;
    padding-left: 78px;
  }
  @media(max-width:730px){
    grid-template-columns: 95px 127px 92px 55px 86px 87px;
    padding-left: 17px;
  }
  @media(max-width:630px){
    grid-template-columns: 96px 99px 70px 55px 86px 87px;
  }
  @media(max-width:545px){
    grid-template-columns: 96px 99px 70px 55px 86px 87px;
  }
  @media(max-width:485px){
    grid-template-columns: 29px 47px 104px 56px 30px 83px 51px;
  }
  h2,
  h3{
  font-size: 16px;
  font-family: $font-main;
  font-weight: 400;
  color: grey;
  }
  @media(max-width:1100){
    font-size: 14px;
  }
  @media(max-width:890px){
    font-size: 13px;
  }
  @media(max-width:730px){
    font-size:12px;
  }
  @media(max-width:630px){
    font-size:10px;
  }
  @media(max-width:545px){
    font-size: 9px;
  }
}

.itinerary_heading{
  font-size:37px;
  margin-top: 63px;
  display: inline-block;
  padding: 10px;
  background-color: rgb(37, 37, 37);
  color: white;
  border-left: 7px solid #2196f3;
  @media(max-width:1000px){
    font-size:30px;
  }
  @media(max-width:800px){
    font-size:25px;
  }
  @media(max-width:600px){
    font-size:20px;
  }
  @media(max-width:500px){
    font-size:15px;
  }
}

.eventInformation{
  margin-top: 80px;
}