
$font-main:'Raleway', sans-serif;
$font-second: 'Open Sans', sans-serif;
$colour-grey:	#FFF2F2F2;
$colour-blue: #008ECC;
$colour-neo-blue:#0473e3;

body{
  background-color: #f1f1f173;
}

@import "registration";

@import "myProfile";

@import "forgottenPassword";

@import "headerFooter";

@import "itinerary";

@import "sponsors";

@import "index";

//prihlaseni vlastni stranka // kam povede odkaz na vas ucet?
